<div>
  <ul class="nav justify-content-center">
      <li class="nav-item">
        <h5><a class="nav-link" routerLink="home">HOME</a></h5>
      </li>
      <li class="nav-item">
          <h5><a class="nav-link" routerLink="login">LOGIN</a></h5>
      </li>
      <li class="nav-item">
          <h5><a class="nav-link" routerLink="mycart">MY CART</a></h5>
      </li>
      <li class="nav-item">
          <h5><a class="nav-link" routerLink="myorders">MY ORDERS</a></h5>
      </li>
      <li class="nav-item">
          <h5><a class="nav-link" routerLink="logout">LOGOUT</a></h5>
      </li>
  </ul>
  <br>
  <router-outlet></router-outlet>
</div>